.map__subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: #5b5b5b;
    margin: 0 0 20px 105px;
    padding: 0;
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 1.5s ease 0s;
}

.map__subtitle._active {
    transform: translate(0px, 0px);
    opacity: 1;
}

@media screen and (max-width:700px) {
    .map__subtitle {
        margin: 0 0 20px 45px;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0.04em;
    }
}

@media screen and (max-width:410px) {
    .map__subtitle {
        font-size: 12px;
        line-height: 7px;
        letter-spacing: 0.04em;
        margin: -10px 0 15px 30px;
    }
}
