.card__heading_section_w-new {
  font-size: 8px;
  line-height: 1.3;
  margin-top: 5px;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media (max-width: 540px) {
  .card__heading_section_w-new {
    font-size: 7px;
  }
}


