.popup__container {
  width: 300px;
  min-height: 100vh;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 6547;
}


@media screen and (max-width: 640px) {
  .popup__container {
    width: 250px;
  }
}
