.test__medium-circle {
width: 180px;
height: 180px;
background: url(../../../images/circlesm.png);
background-repeat: no-repeat;
background-size: contain;
position: absolute;
right: 42px;
bottom: 155px;
z-index: 298;
}


@media screen and (max-width:930px) {
  .test__medium-circle {
  width: 135px;
  height: 135px;
  bottom: 130px;
  right: 25px;
  }
}

@media screen and (max-width:660px) {
  .test__medium-circle {
  bottom: 140px;
  right: 23px;
  }
}

@media screen and (max-width:639px) {
  .test__medium-circle {
  bottom: 160px;
  }
}
