.news-grid__purple-puzzle-bottom {
  position: absolute;
  bottom: 440px;
  right: 50px;
  /*width: 170px;
  height: 346px;*/
  width: 8.5%;
  height: 4.5%;
  z-index: -1;
}

@media (min-width: 1420px) and (max-width: 1835px) {
  .news-grid__purple-puzzle-bottom {
    display: none;
  }
}

@media (max-width: 1020px) {
  .news-grid__purple-puzzle-bottom {
    width: 10%;
    height: 6%;
    right: 320px;
    bottom: 350px;
  }
}

@media (max-width: 400px) {
  .news-grid__purple-puzzle-bottom {
    width: 20%;
    right: 120px;
    bottom: 300px;
    z-index: 2;
  }
}
