.sponsors__button-right {
    height: 20px;
    padding-left: 130%;
    background-color: transparent;
    border: 0;
}

@media screen and (max-width: 520px) {
    .sponsors__button-right {
        height: 18px;
    }
}
