.article__date {
  display: inline-flex;
  justify-content: center;
  color: #5B5B5B;
  font-size: 32px;
  line-height: 2.15;
  font-weight: 600;
  border-top: 3px solid #5B5B5B;
  margin: auto;
  text-align: center;
}

@media (max-width: 1080px) {
  .article__date {
    font-size: 28px;
  }
}

@media (max-width: 700px) {
  .article__date {
    font-size: 24px;
  }
}

@media (max-width: 700px) {
  .article__date {
    font-size: 18px;
  }
}
