.article-slider__swiper {
    height: 465px;
}

@media screen and (max-width:767px) {
    .article-slider__swiper {
        height: 403px;
    }
}

@media screen and (max-width:369px) {
    .article-slider__swiper {
        height: 275px;
    }
}
