.article__green-puzzle {
  /*width: 155px;
  height: 185px;*/
  width: 10.1%;
  height: 9.6%;
  position: absolute;
  top: 0%;
  right: -5.5%;
}

@media (max-width: 1600px) {
  .article__green-puzzle {
    width: 5.1%;
    top: -.5%;
    right: -.1%;
  }
}

@media (max-width: 1220px) {
  .article__green-puzzle {
    width: 6.1%;
    top: -1%;
    right: -.2%;
  }
}

@media (max-width: 1080px) {
  .article__green-puzzle {
    width: 10.1%;
    top: .5%;
    right: -2%;
  }
}

@media (max-width: 940px) {
  .article__green-puzzle {
    width: 6.1%;
    top: .5%;
    right: .5%;
  }
}

 @media (max-width: 700px) {
  .article__green-puzzle {
    top: 2%;
    right: .5%;
  }
}

@media (max-width: 560px) {
  .article__green-puzzle {
    top: 1%;
  }
}

@media (max-width: 400px) {
  .article__green-puzzle {
    top: -2%;
    right: -1%;
  }
}
