.article-slider__decor {
  width: 63px;
  height: 125px;
  background-image: url("../../../images/test_halfcircle_white.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 60px;
  left: 120px;
  transform: translate(10px, 0px);
  transition: all 5s ease;
}

.article-slider__decor._active {
  transform: translate(0px, 0px);
  background-image: url("../../../images/decor_halfcirlce_pink.svg");
}

@media screen and (max-width: 767px) {
  .article-slider__decor {
    width: 53px;
    height: 105px;
    bottom: 57px;
    left: 105px;
  }
}

@media screen and (max-width: 639px) {
  .article-slider__decor {
    display: none;
  }
}
