.article__item {
  position: relative;
  max-width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 130px 20px 20px 20px;
}

@media (max-width: 1440px) {
  .article__item {
    max-width: 1080px;
  }
}

@media (max-width: 1080px) {
  .article__item {
    max-width: 880px;
  }
}

@media (max-width: 700px) {
  .article__item {
    max-width: 600px;
  }
}

@media (max-width: 400px) {
  .article__item {
    max-width: 300px;
    padding: 50px 8px 8px 8px;
  }
}

