.w-new__background-purple {
    position: absolute;
    top: 120px;
    left: 1.042%;
    width: 97.92%;
    height: 250px;
    z-index: -1;
    background-color: #6D097A;
    padding-bottom: 30px;
}

@media (max-width: 641px) {
    .w-new__background-purple {
        top: 110px;
        height: 240px;
        padding-bottom: 0;
    }
}

@media (max-width: 550px) {
    .w-new__background-purple {
        top: 105px;
        height: 220px;
    }
}

@media (max-width: 521px) {
    .w-new__background-purple {
        height: 185px;
    }
}

@media (max-width: 450px) {
    .w-new__background-purple {
        top: 80px;
        height: 180px;
    }
}
