.w-new__button-right {
  background-color: rgba(0, 0, 0, .0);
  object-fit: cover;
  height: 26px;
  padding-left: 10px;
  margin-left: -40px;
}

@media (max-width: 710px) {
  .w-new__button-right{
    margin-left: -10px;
  }
}

@media (max-width: 510px) {
  .w-new__button-right {
    margin-left: -5px;
  }
}

@media (max-width: 470px) {
  .w-new__button-right {
    height: 20px;
  }
}

@media (max-width: 360px) {
  .w-new__button-right {
    margin-left: 5px;
  }
}
