.test__menu {
  position: absolute;
  top: 165px;
  left: 77px;
  z-index: 445;
}

@media screen and (max-width:767px){
  .test__menu {
  top: 160px;
  left: 35px;
  }
}

@media screen and (max-width:670px){
  .test__menu {
    top: 140px;
    left: 35px;
  }
}

@media screen and (max-width:639px){
  .test__menu {
    top: 130px;
    left: 25px;
  }
}
