.footer__copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 16px;
  margin: 0;
  margin-left: 25px;
}

@media screen and (max-width:767px){
  .footer__copyright {
    font-size: 14px;
    margin-left: 15px;
  }
}
